body{
background: #FAB5AE; 
font-family:"Times New Roman", Times, serif;
}
h1 {
text-align: center;
color: #7b3b06;
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}